.conversation {
  height: 70vh;
  border-radius: 0 10px 10px 0;
  background-color: white;
  /* padding: 10px; */
  overflow-y: scroll;
}

.messages {
  height: 82vh;
  display: flex;
  flex-direction: column;
}
.messages-box {
  padding: 10px;
  height: 60vh;

  border-radius: 10px 0 0 10px;
  overflow-y: scroll;
}
.messages-bottom {
  height: 8vh;

  /* /* color: #0695ff; */
}

.messages-top {
  height: 10vh;
}
/* }
::-webkit-scrollbar-track {
  background-color: #dd1717;
}

/* Target the scrollbar thumb */
/* ::-webkit-scrollbar-thumb { */

/*  
    background-color: #4cd964;
  border-radius: 10px;
  border: 3px solid #f5f5f5; */
/* } */
/* 
/* Target the scrollbar thumb on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #bbb; */
