.review-height {
  height: 900px;
}
/* @media (max-width: 600px) {
  .review-height {
    height: 880px;
  }
}
@media (max-width: 991px) {
  .review-height {
    height: 400px;
  }
} */
/* @media (max-width: 780px) {
  .review-height {
    height: 880px;
  }
} */
.review-card {
  --bs-shadow-color: #9b9183;
}

@media (min-width: 576px) {
  .review-height {
    height: 750px;
  }
}
@media (min-width: 768px) {
  .review-height {
    height: 700px;
  }
}
@media (min-width: 992px) {
  .review-height {
    height: 430px;
  }
}
